@model myPassionProject.Models.EventDto

@{
    ViewBag.Title = "ConfirmDelete";
}

<h2>Are you Sure you want to delete this event?</h2>

<form method="POST" action="/Event/Delete/@Model.EventId">
    <input type="text" style="display:none;" name="EventId" value="@Model.EventId" />
    <div>
        @Model.EventName
    </div>
    
    <input type="submit" value="Confirm" />
</form>

<div>
    <a href="/Event/List">Back to List</a>
</div>