@model myPassionProject.Models.EventDto


@{
    ViewBag.Title = "View";
}

<a href="/Event/List">Go back to List of Events</a>
<h2>@Model.EventName</h2>
<div>@Model.OrganizationName</div>
<div>@Model.LocationName</div>

