@{
    ViewBag.Title = "Who We Are";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p>We are an organization commited to help the planet and combat pollution.
    We help faciliate the process for volunteers to find and participate in preservation work
    through tree planting.</p>
</main>