@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Welcome to the TreePlanting Manager!</h1>


    <div class="row">
        <p>Click below to see and manage Tree planting organizations, events, and locations.</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="/Event/List" role="button">Events</a>
                <a class="btn btn-primary" href="/Location/List" role="button">Locations</a>
                <a class="btn btn-primary" href="/Organization/List" role="button">Organizations</a>
            </div>
        </div>
        
    </div>
</main>