@model myPassionProject.Models.LocationDto


@{
    ViewBag.Title = "View";
}

<a href="/Location/List">Go back to List of Locations</a>
<h2>@Model.LocationName</h2>
<div>@Model.LocationAddress</div>
