
@{
    ViewBag.Title = "Create";
}

<h2>Create Location</h2>
<form action="/Location/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="LocationName" />
    </div>
    <div>
        <label>LocationAddress:</label> <input type="text" name="LocationAddress" />
    </div>

    <div>
        <input type="submit" value="Add Location" />
    </div>
</form>
