@model myPassionProject.Models.OrganizationDto

@{
    ViewBag.Title = "ConfirmDelete";
}

<h2>Are you Sure you want to delete this Organization?</h2>

<form method="POST" action="/Organization/Delete/@Model.OrganizationId">
    <input type="text" style="display:none;" name="OrganizationId" value="@Model.OrganizationId" />
    <div>
        @Model.OrganizationName
    </div>
    
    <input type="submit" value="Confirm" />
</form>

<div>
    <a href="/Organization/List">Back to List</a>
</div>