@model myPassionProject.Models.OrganizationDto


@{
    ViewBag.Title = "View";
}

<a href="/Organization/List">Go back to List of Organizations</a>
<h2>@Model.OrganizationName</h2>
<div>@Model.OrganizationContact</div>

